.text_ {
    text-align: justify;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 18px;
}

.imagem_container {
    position: relative;
}

.imgens_peixes {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
    transition: 0.4s ease-in;
    opacity: 1;
    border: 5px solid #1f004d;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imagem_container:hover .fr_images_im {
    opacity: 0.3;
}


.imagem_container:hover .imgens_peixes {
    opacity: 0.3;
}

.imagem_container:hover .fr_images {
    opacity: 0.3;
}

.imagem_container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #1f004d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-weight: 600;
}

.order_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    position: relative;
}

.fr_images {
    border: 5px solid #1f004d;
    height: 400px;
    width: 430px;
    display: block;
    margin-bottom: 16px;
    opacity: 1;
    cursor: pointer;
    transition: 0.4s ease-in;
    object-fit: cover;
}

.fr_images_im {
    border: 5px solid #1f004d;
    height: 400px;
    width: 100%;
    display: block;
    margin-bottom: 16px;
    opacity: 1;
    cursor: pointer;
    transition: 0.4s ease-in;
    object-fit: cover;
}

@media screen and (max-width: 1292px) {
    .fr_images {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2px;
        height: auto;
    }
}